# ----- Config

# Suivi des liens symboliques
Options +FollowSymlinks

# Activation de la réécriture d'URL
RewriteEngine on

# ----- Rewrite Rules

# index.php -> accueil.html
RewriteRule ^accueil.html$ index.php [L]

# parameters.php -> parametre.html
RewriteRule ^parametre.html$ /views/parameters.php [L]

# pages.php -> sujet-x.html
RewriteRule ^sport-1.html$ /views/pages.php?sujet=0 [L]
RewriteRule ^sport-2.html$ /views/pages.php?sujet=1 [L]
RewriteRule ^sport-3.html$ /views/pages.php?sujet=2 [L]