body{
  background-color: whitesmoke;
}
/***** Scroll to top btn *****/
#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
  background-color: Transparent;
}

#scroll_to_top img {
  width: 45px;
}

.carousel-item {
  position: relative;
}

.carousel-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), 50%, rgba(0, 0, 0, 0));
}

.carouselTitle {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/***** CARD *****/
.mincardHeight{
  min-height: 90px;
}
.cardBG{
  background-color: #E2E5E3;
  color: #2E2E2E;
}
.cardBodyHeight{
  height: 100px;
}
.cardTitle {
  font-size: 0.8rem;
}
.cardDesc {
  font-weight: 600 !important;
  font-size: 0.6rem;
}
.cardDate {
  font-size: 0.65rem;
}
.cardImg{
  position: absolute;
  width:70px;
  height:60px;
  object-fit:cover;
  top: 20px;
  left: 13px;
  z-index: 5 !important;
}
.Basket-ballSquare{
  position: absolute;
  z-index: 4 !important;
  content: '';
  width: 57px;
  height: 50px;
  left: 35px;
  top: 12px;
  background-color: #ffa73b;
}
.FootballSquare{
  position: absolute;
  z-index: 4 !important;
  content: '';
  width: 57px;
  height: 50px;
  left: 35px;
  top: 12px;
  background-color: #ff2222;
}
.TennisSquare{
  position: absolute;
  z-index: 4 !important;
  content: '';
  width: 57px;
  height: 50px;
  left: 35px;
  top: 12px;
  background-color: #c4ff6a;
}
.HandballSquare{
  position: absolute;
  z-index: 4 !important;
  content: '';
  width: 57px;
  height: 50px;
  left: 35px;
  top: 12px;
  background-color: #3bceff;
}
.RugbySquare{
  position: absolute;
  z-index: 4 !important;
  content: '';
  width: 57px;
  height: 50px;
  left: 35px;
  top: 12px;
  background-color: #2eba2e;
}
.more-info {
  color: #18AA9C;
  text-decoration: underline;
  cursor: pointer;
}

/***** FOOTER *****/
.footer_bot {
  background-color: #2E2E2E;
}
.footer_top{
  background-color: #ECC29A;
}

.color-svg-dark {
  fill: #2E2E2E;
  stroke: #2E2E2E;
}
.color-svg-dark:active,.color-svg-dark:focus {
  fill: #02DAC5;
  stroke: #02DAC5;
}
.svgBtn{
  fill: whitesmoke;
}
.svgBtn:active, .svgBtn:focus{
  fill: #02DAC5;
}
/***** HEADER *****/
.headerBG{
  background-color: #ECC29A;
}
/***** HR PAGE ******/
hr.line {
  border: none;
  height: 2px;
  background: #18AA9C;
  width: 30%;
}
/***** PARAM ******/
.formBG{
  background-color: #E2E5E3;
}
.formMsgBG{
  background-color: #474545;
}
hr.lineparam {
  border: none;
  height: 2px;
  background: #18AA9C;
  width: 100px;
}
.err_msg{
  color: #F48FB1;
}
.success_msg{
  color: whitesmoke;
}
.fontSize{
  font-size: 0.9rem;
}
/****** colors radius etc (MODAL etc) ******/
.textCOLOR{
  color: #2E2E2E;
}
.borderRadiusBtn{
  border-radius: 60px;
}
.btn-color-green{
  background-color: #02DAC5;
  color: whitesmoke;
}

.btn-color-pink{
  background-color: #333C45;
  color: whitesmoke;
}
.btn-color-green:focus,
.btn-color-green:active {
  background-color: white;
  border-color: #02DAC5;
  box-shadow: none;
  color: black !important;
}
.btn-color-pink:focus,
.btn-color-pink:active {
  background-color: white;
  border-color: #F48FB1;
  box-shadow: none;
  color: black !important;
}
.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}
.modalBG{
  background-color: #E2E5E3;
}
.modalColor{
  color: #2E2E2E;
}
.modalTitle {
  font-size: 0.95rem;
}
.modalDesc {
  font-size: 0.8rem;
}
.modalDate {
  font-size: 0.7rem;
}
preview{
  font-weight: 500 !important;
}
.zindexFooterbot{
  z-index: 12 !important;
}
.zindexFootertop{
  z-index: 10 !important;
}
.form-check-input{
  background-color: whitesmoke !important;
  box-shadow: none !important;
}
.form-check-input:active {
  border-color: none !important;
  box-shadow: none !important;
}
.form-check-input:focus {
  border-color: none !important;
  outline: none;
  box-shadow: none !important;
}


.formBG .form-check-input:checked{
  background-color: #02DAC5 !important;
  border-color: #2E2E2E !important;
  box-shadow: none !important;
}
.formBG .form-check-input:active {
  border-color: none !important;
  box-shadow: none !important;
}
.formBG .form-check-input:focus {
  border-color: none !important;
  outline: none;
  box-shadow: none !important;
}
.themelogo{
  stroke: #2E2E2E;
}

/***** SHADOWS ****/
.shadowCards{
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 7.5px 5px rgba(0, 0, 0, 0.06),
  0 12.3px 7.9px rgba(0, 0, 0, 0.072),
  0 21.8px 13.4px rgba(0, 0, 0, 0.086),
  0 50px 30px rgba(0, 0, 0, 0.12)
;
}

.shadowY
{
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadowY:before, .shadowY:after
{
  content:"";
  position:absolute;
  z-index:-1;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
  box-shadow:0 0 20px rgba(0,0,0,0.8);
}

.shadowYt{
  z-index: 9 !important;
  box-shadow: 0px -6px 6px rgba(0, 0, 0, 0.55) !important;
}

.shadowYb{
  z-index: 11 !important;
  box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.19) !important;
}

.shadowParam
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadowParam:before, .shadowParam:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
}