body{
  background-color: #1D2025;
}
/***** Scroll to top btn *****/
#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
  background-color: Transparent;
}

#scroll_to_top img {
  width: 45px;
}

.carousel-item {
  position: relative;
}

.carousel-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), 50%, rgba(0, 0, 0, 0));
}

.carouselTitle {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  height: 15%;
  background-color: rgba(200, 200, 200, 0.9);
}

/***** CARD *****/
.cardBG{
  background-color: #1F2933;
  color: white;
}
.cardHeight{
  height: 100px;
}
.cardTitle {
  font-size: 0.8rem;
}
.cardDesc {
  font-size: 0.6rem;
}
.cardDate {
  font-size: 0.65rem;
}
.cardImg{
  position: absolute;
  width:70px;
  height:60px;
  object-fit:cover;
  top: 20px;
  left: 13px;
  z-index: 5 !important;
}
.Basket-ballSquare{
  position: absolute;
  z-index: 4 !important;
  content: '';
  width: 57px;
  height: 50px;
  left: 35px;
  top: 12px;
  background-color: #ffa73b;
}
.FootballSquare{
  position: absolute;
  z-index: 4 !important;
  content: '';
  width: 57px;
  height: 50px;
  left: 35px;
  top: 12px;
  background-color: #ff2222;
}
.TennisSquare{
  position: absolute;
  z-index: 4 !important;
  content: '';
  width: 57px;
  height: 50px;
  left: 35px;
  top: 12px;
  background-color: #c4ff6a;
}
.HandballSquare{
  position: absolute;
  z-index: 4 !important;
  content: '';
  width: 57px;
  height: 50px;
  left: 35px;
  top: 12px;
  background-color: #3bceff;
}
.RugbySquare{
  position: absolute;
  z-index: 4 !important;
  content: '';
  width: 57px;
  height: 50px;
  left: 35px;
  top: 12px;
  background-color: #2eba2e;
}
.more-info {
  color: orange;
  text-decoration: underline;
  cursor: pointer;
}

/***** FOOTER *****/
.footer_bot {
  background-color: #1F2933;
}